@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 48px;
    background:  #1f2937;
}
.header {
    height: 600px;
    display: flex;
    font-family: 'Roboto';
    align-items: normal;
    
}
.topheader {
    position:relative;
    display: flex;
    flex-direction: row;
    color: #f9faf8;
}
.bottomheader{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}
.links {
    padding: 0px 50px 0px 400px;
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: lighter;
    flex-wrap: nowrap;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 0px 50px 0px 50px;
    font-weight: bold;
}
.Header-Link1 {
    padding-right: 40px;

}
.Header-Link2 {
    padding-right: 40px;
}
.alignpls {
    display: flex;
    flex-direction: column;
    padding: 0px, 50px, 0px, 0px;
}
.Big {
    font-size: 48px;
    font-weight: 900;
    padding-left: 50px;
}
.Desc {
    color:#E5E7EB;
    font-size: 18px;
    padding-left: 50px;
    width: 400px;

}
.euph {
    padding-left: 150px;
    padding-right: 50px;
    height: 200px;
    width: 600px;
}
.button {
    background: #3882f6;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 15px;
    margin: 50px;
}